.spinner-box {
    --bs-primary-rgb: rgb(13, 110, 253);
    border-radius: 10px;
    border: 4px solid var(--bs-primary-rgb);
    max-width: 10rem;

}
.spinner-number {
    font-size: xx-large;
    font-weight: 600;
}
