{% extends 'base.html' %}

{% block content %}
<html>

<head>
    <title>Thanks for your order!</title>
</head>

<body>
    <div class="container px-5 py-5 text-center">
        <section>
            <p>
                Thank you for your purchase! If you have any questions, please email
                <a href="mailto:admin@soundspruce.com">admin@soundspruce.com</a>.
            </p>
            <a href="{% url 'shop:product-instance-list' %}">View and download your products!</a>
        </section>
    </div>
</body>

</html>
{% endblock %}
