{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<br>

<div class="container">

    {% if form.user %}
        <p>Check your email ({{ form.user.email }})</p>
    {% else %}
        <h1>Create an account</h1>

        <form method="post" action="{% url 'accounts:register' %}">

            {{ form|crispy }}

            <input type="submit" value="Continue">

            <input type="hidden" name="next" value="{{ next }}">

            {% csrf_token %}

        </form>
    {% endif %}

</div>

<br>
{% endblock %}
