{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<br>
<div class="container">
  {% if next %}
    {% if user.is_authenticated %}
    <h1 class="display-5">Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</h1>
    {% else %}
      <h1 class="display-5">Please login to continue</h1>
    {% endif %}
  {% else %}
    <h1 class="display-5">Log in</h1>
  {% endif %}

  <form method="post" action="{% url 'login' %}" class="form-signin">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary" type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  <p><a href="{% url 'register' %}">Create an account</a>
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>

{% endblock %}
