{% extends "base.html" %}
{% block content %}
    <section class="py-4">
        <div class="container px-4">
            <div class="row gx-4 gx-lg-5">

                <div class="col-md-6">
                    <h1 class="display-5">About</h1>
                    <p>Hello! My name's Sam, I'm a sound engineer and field recordist who is building experience with software development in order to change careers.</p>
                    <p>SoundSpruce is my way of gaining programming experience by making tools for the community that I love! My goal is to provide neat easy to use tools that excel at a specific task for professionals working within the industry.</p>
                </div>
                <div class="col-md-6">
                    <div class="carousel-item active">
                        <img src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock content %}
