{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Page Content-->
     <!-- Header-->
     <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1>
                            <span class="display-5 text-white mb-2">Do one thing</span><br>
                            <span class="display-1 fw-bolder text-white mb-2 background-mask-text">Do it well</span>
                        </h1>
                        <p class="lead text-white-50 mb-4">Solutions to niche problems, solved with efficient and straight forward tools</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'shop:shop' %}">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Features section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container d-flex justify-content-center px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <!-- Video column -->
                <div class="col-lg-6 mb-5 mb-lg-0 d-flex align-items-center">
                    <div class="video-container w-100">
                        <video autoplay muted loop class="w-100">
                            <source src="{% static 'assets/SFC1.3.2banner.mp4' %}" type="video/mp4">
                        </video>
                    </div>
                </div>
                <!-- Content column -->
                <div class="col-lg-6 mb-lg-0 d-flex flex-column align-items-center">
                    <h2 class="h2 fw-bolder text-center">SausageFileConverter</h2>
                    <div class="my-5">
                        <div class="my-3">
                            <i class="bi-lightning-fill"></i> Speed up your workflow by consolidating your sound library
                        </div>
                        <div class="my-3">
                            <i class="bi-arrow-repeat"> Hassle free batch conversion </i>
                        </div>
                        <div class="my-3">
                            <i class="bi-file-earmark-richtext"> Retain metadata, including SoundMiner! </i>
                        </div>
                    </div>
                    <a class="text-decoration-none" href="{% url 'shop:product-detail' slug='sausage-file-converter' %}">
                        See details
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials section-->
    <section class="py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder">Customer testimonials</h2>
                <p class="lead mb-0">Our customers love our products</p>
            </div>

            <h3 class="text-center">Files converted</h3>
            <div class="my-3 container-md spinner-box text-center">
                <span class="spinner-number" data-val="23124">19760</span>
            </div>

            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <!-- Testimonial 1-->
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">Sausage File Converter is an absolute <b>must-have</b> for managing sound file bloat.  It's saved me <b>countless hours</b> of manual one-shot consolidation and made my library so much <b>quicker to navigate</b>.  Highly recommend!</p>
                                    <div class="small text-muted">- <a href="https://www.andrewvscott.com/">Andrew Scott</a>, Sound Designer, Intrepid Studios</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonial 2-->
                    <!-- <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">SausageFileConverter is such an amazing and practical tool for me. It has saved me hours and hours of tedious work consolidating various libraries into a more convenient sausage file structure. Sam is a great dev, always listening to feedback and implementing them quickly in new releases. I can't wait to check out the evolution of this awesome piece of software. A must have!</p>
                                    <div class="small text-muted">- <a href="https://bruits.studio/">Tibo Csuko</a>, Lead Sound Designer, Bruits.Studio</div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-6">
                    <!-- Testimonial 3-->
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">SausageFileConverter is such an <b>amazing and practical tool</b> for me. It has <b>saved me hours and hours of tedious work</b> consolidating various libraries into a more convenient sausage file structure. Sam is a great dev, always listening to feedback and implementing them quickly in new releases. I can't wait to check out the evolution of this awesome piece of software. <b>A must have!</b></p>
                                    <div class="small text-muted">- <a href="https://bruits.studio/">Tibo Csuko</a>, Lead Sound Designer, Bruits.Studio</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial 4-->
                    <!-- <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">Sausage File Converter is an absolute must-have for managing sound file bloat.  It's saved me countless hours of manual one-shot consolidation and made my library so much quicker to navigate.  Highly recommend!</p>
                                    <div class="small text-muted">- <a href="https://www.andrewvscott.com/">Andrew Scott</a>, Sound Designer, Intrepid Studios</div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}
