{% extends "base.html" %}

{% block content %}

<section class="py-5">
    <div class="container px-4">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide shadow-drop-2-center img-thumbnail">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="/media/{{ product.carousel_image1 }}" data-toggle="lightbox" class="d-block w-100 img-fluid" data-caption="One Shots are multiple sounds in multiple files, Sausage files are multiple sounds in one file!">
                                <img src="/media/{{ product.carousel_image1 }}" class="img-fluid">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="/media/{{ product.lightbox_image1 }}" data-toggle="lightbox" class="d-block w-100 img-fluid" data-caption="SausageFileConverter UI">
                                <img src="/media/{{ product.carousel_image2 }}" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-5 mb-5">
                    <span><s style="color:red;">£75</s> £{{ price.get_display_price }} - Early bird pricing until the end of April.</span>
                </div>
                    <p class="lead">{{ product.description }}</p>
                    <div class="d-flex">
                        {% if is_owner %}
                        <p>You own this product.</p>
                        {% else %}
                        <div>
                            {% include 'purchase/buy-btn-form.html' with product=product is_auth=is_auth %}
                        </div>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>

</section>

<section>

    <div class="container px-4 accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Filter files to process
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Filter the files that you want to process though:</strong>
              <ul>
                <li>Keyword matching - Use comma separated keywords to remove categories of files</li>
                <li>Double click to remove - Remove individual files or folders</li>
                <li>Maximum file length - Set only short files to be included in sausage files, </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Copy unprocessed files
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Avoid losing</strong> Unprocessed audio files, Cover Art, EULAs, XLSX and other loose files that come with sound libraries by <strong>automatically</strong> copying them over to the output folder.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Processed Files Reporting
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                As well as the real time error logging pane, SausageFileConverter generates a report to help you <strong>ensure</strong> the correct variations have been concatenated into each file.
            </div>
          </div>
        </div>
      </div>
</section>

<section class="py-5">
    <div class="container px-4">
            <div class="ratio ratio-16x9 col-md-6">
                <iframe src="{{ product.demo_video }}" title="YouTube video player" frameborder="0" allow="clipboard-write; encrypted-media; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
    </div>
</section>
{% endblock content %}
