{% extends "base.html" %}
{% load custom_tags %}
{% block content %}

{% with carousel_images=product.get_carousel_images %}
<section class="py-5">
    <div class="container px-4">
        <div class="row gx-4 gx-lg-5 align-items-center">
            {% if carousel_images %}
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide shadow-drop-2-center img-thumbnail">
                    <div class="carousel-indicators">
                        {% for image in carousel_images %}
                        <button type="button"
                            data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="{{ forloop.counter0 }}"
                            class="{% if forloop.first %}active{% endif %}"
                            aria-current="{% if forloop.first %}true{% endif %}"
                            aria-label="Slide {{forloop.counter}}">
                        </button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for image in carousel_images %}
                            {% if image.carousel_image %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <a href="/media/{% if image.lightbox_image %}{{ image.lightbox_image }}{% else %}{{ image.carousel_image }}{% endif %}" data-toggle="lightbox" class="d-block w-100 img-fluid" data-caption="{{ image.title }}">
                                    {# maybe add lightbox image to the same model so it's tied #}
                                    <img src="/media/{{ image.carousel_image }}" class="img-fluid" alt="{{ image.title }}">
                                </a>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            {% else %}
                missing carousel_images
            {% endif %}
{% endwith %}
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div class="fs-5 mb-5">
                    <span><s style="color:red;">£75</s> £{{ price.get_display_price }} - Early bird pricing until the end of May.</span>
                </div>
                <p class="lead">{{ product.get_product_description.first.content|linebreaksbr }}</p>
                <div class="d-flex">
                    {% if is_owner %}
                        <p>You own this product.</p>
                    {% else %}
                    <div>
                        {% include 'purchase/buy-btn-form.html' with product=product is_auth=is_auth %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</section>

<section>
{% with accordion_sections=product.get_accordion_sections %}
    {% if accordion_sections %}
        <div class="container px-4 accordion" id="productFeatureAccordion">
            {% for section in accordion_sections %}
                {% with heading_id="heading-"|concat_prefix_to_id:section.id %}
                {% with accordion_id="collapse-"|concat_prefix_to_id:section.id %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="{{ heading_id }}">
                        <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#{{ accordion_id }}"
                                aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                                aria-controls="{{ accordion_id }}">
                        {{ section.title }}
                        </button>
                    </h2>
                    <div id="{{ accordion_id }}"
                        class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                        aria-labelledby="{{ heading_id }}"
                        data-bs-parent="#productFeatureAccordion">
                        <div class="accordion-body">
                            {{ section.content|safe }}
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
</section>

<section class="py-5">
{% with product_videos=product.get_videos %}
    {% if product_videos %}
        {% for video in product_videos %}
        <div class="container px-4">
                <div class="ratio ratio-16x9 col-md-6">
                    <iframe src="{{ video.video }}" title="{{ video.title }}" frameborder="0" allow="clipboard-write; encrypted-media; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
</section>

{% endblock content %}
