{% extends "base.html" %}

{% block content %}
<div class="container-lg py-4">
    <h1 class="display-5">My Products</h1>

    {% if purchased_products_list %}
    <div class="container">
      {% for productinst in purchased_products_list %}
      <div class="row py-4">
        <div class="col text-center">
          <a href="{% url 'shop:product-detail' productinst.product.slug %}">{{ productinst.product.name }}</a>
        </div>
        <!-- <div class="col text-center">
          Serial Number: {{ productinst.serial_number}}
        </div> -->
        <div class="col text-center">
          Purchase Date: {{ productinst.purchase_date|date:"SHORT_DATE_FORMAT"}}
        </div>
        <div class="col text-center">
            <form action="{% url 'shop:product-download' productinst.product.slug %}">
              <input type="submit" value="Download PC Version"/>
          </form>
        </div>
        <div class="col text-center">
            <p>For Mac versions, please contact me for a license agreement.</p>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
      <p>You own no products... YET!</p>
    {% endif %}
</div>
{% endblock %}
