{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-lg py-4">
    <h1 class="display-5">Wait list</h1>
    <p>If you are interested in an upcoming product please show your interest by filling in the form below! This helps me to know what to focus on.</p>
    <form action="{% url 'contact:waitlist' %}" method="post">

        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

</div>
{% endblock content %}
